.footer {
  background: #fff;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
@media (max-width: 5000px) {
  .footer__content {
    padding: 60px 0;
  }
  .footer__item {
    font-size: 40px;
    line-height: 1.1;
  }
  .footer__item a img {
    max-width: 70px;
    max-height: 70px;
  }
  .footer__copyright {
    font-size: 24px;
  }
}
@media (max-width: 1800px) {
  .footer__content {
    padding: 30px 0px;
  }
  .footer__item {
    font-size: 34px;
    line-height: 1.1;
  }
  .footer__item a img {
    max-width: 50px;
    max-height: 50px;
  }
  .footer__copyright {
    font-size: 22px;
  }
}
@media (max-width: 1200px) {
  .footer__item {
    font-size: 30px;
    line-height: 1.1;
  }
  .footer__item a img {
    max-width: 40px;
    max-height: 40px;
  }
  .footer__copyright {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .footer {
    background-position: center;
    background-size: 100% 100%;
    padding: 15px 0;
  }
  .footer__left {
    gap: 10px !important;
  }
  .footer__img {
    margin-top: 8.5vw;
    max-width: 21.5vw !important;
  }
  .footer__item {
    font-size: 4.5vw;
    line-height: 1;
    gap: 5px !important;
  }
  .footer__item p {
    margin-right: 5px;
  }
  .footer__item a img {
    max-width: 24px;
    max-height: 24px;
  }
  .footer__copyright {
    font-size: 3.8vw;
    gap: 0px !important;
  }
  .footer__copyright a {
    font-size: 3vw;
  }
}
.footer__content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  gap: 20px;
}
@media screen and (max-width: 900px) {
  .footer__content {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 60px;
  }
}
@media screen and (max-width: 600px) {
  .footer__content {
    gap: 0px;
    padding: 0px 0;
  }
}
.footer__left {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 40px;
}
@media screen and (max-width: 900px) {
  .footer__right {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1200px) {
  .footer__img {
    max-width: 150px;
  }
}
.footer__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Averta Cyrillic", sans-serif;
  gap: 20px;
  font-weight: 300;
}
.footer__copyright {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 0px;
  color: #808080;
  font-family: "Futura PT", sans-serif;
  line-height: 1;
}
.footer__copyright span {
  margin-right: 3px;
}
.footer__copyright a {
  display: block;
  width: 100%;
  text-decoration: underline;
}